	header{
	background-color:#d16d2a;
	padding:30px;
	font-size:2.5em;
	}
	body{
	font-size:1.5em;
	font-family:helvetica;
	background-color:#e0d2c8;
	}
	footer{
	font-size:.5em;
	text-align:center;
	}
	article{
	margin-left:10em;
	margin-right:10em;
	background-color:#929596;
	padding:1px;
	border: 1px solid black;
	max-height:25em;
	min-height:20em;
	overflow:scroll;
	}
