	header{
	background-color:#d16d2a;
	padding:30px;
	font-size:2.5em;
	}
	body{
	font-size:1.5em;
	font-family:helvetica;
	background-color:#e0d2c8;
	}
	footer{
	font-size:.5em;
	text-align:center;
	}
	article{
	
	}
	nav{
		background-color:#929596;
		padding:10px;
	}
	a:visited{
		color:green;
	}
	a:link{
		color:green;
		text-decoration:none;
	}
	a:hover{
		color:purple;
	}